.hero {
  width: 100%;
  min-height: 100vh;
  padding: 100px 24px 50px;
  display: flex;
  align-items: center;
  background: #fff8ee;
}

.hero-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1;
  min-width: 300px;
}

.hero-text h1 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #1e293b;
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
}

.hero-text .destaque {
  color: #f97316;
}

.hero-text p {
  font-size: 18px;
  color: #444;
  margin-bottom: 30px;
  line-height: 1.6;
}

.emoji {
  font-size: 20px;
  margin-left: 6px;
}

.btn-hero {
  background-color: #f97316;
  color: white;
  padding: 14px 28px;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(249, 115, 22, 0.4);
}

.btn-hero:hover {
  background-color: #ea580c;
  transform: scale(1.05);
}

.patinha-icon {
  color: #a78bfa;
  font-size: 28px;
  margin-left: 6px;
}

.hero-image {
  flex: 1;
  text-align: center;
  min-width: 300px;
}

.titulo-pet {
  position: relative;
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 60px;
  color: #1e293b;
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
}

.hero-buttons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.btn-outline {
  background-color: transparent;
  color: #f97316;
  border: 2px solid #f97316;
  box-shadow: none;
}

.btn-outline:hover {
  background-color: #f97316;
  color: white;
  transform: scale(1.05);
}

.logo-img {
  height: 50px;
  width: auto;
  object-fit: contain;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}


@media (max-width: 768px) {
  .hero-content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 32px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .hero-buttons {
    justify-content: center;
  }
}