.sobre-nos-modern {
  background-color: #fff8ee;
  padding: 100px 20px;
  font-family: "Poppins", sans-serif;
}

.sobre-nos-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.price-label {
  font-size: 14px;
  color: #475569;
  margin-top: 8px;
  margin-bottom: 0;
  font-weight: 500;
}

@media (min-width: 900px) {
  .sobre-nos-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.sobre-nos-imagem-modern img {
  width: 100%;
  max-width: 450px;
  height: auto;
  display: block;
  border-radius: 16px;
}

.sobre-nos-conteudo {
  flex: 1;
  max-width: 600px;
}

.linha-laranja {
  width: 60px;
  height: 4px;
  background-color: #f97316;
  margin-bottom: 20px;
  border-radius: 2px;
}

.sobre-nos-conteudo h2 {
  font-size: 32px;
  color: #1e293b;
  margin-bottom: 20px;
}

.sobre-nos-conteudo p {
  font-size: 16px;
  color: #444;
  margin-bottom: 30px;
  line-height: 1.6;
}

.sobre-nos-lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sobre-nos-lista li {
  font-size: 16px;
  color: #1e293b;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 14px;
}

.sobre-nos-lista li span {
  font-weight: 600;
  color: #f97316;
  font-size: 18px;
  width: 24px;
  text-align: right;
}

@media (max-width: 1199px) {
  .sobre-nos-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 0 20px;
  }

  .sobre-nos-imagem-modern img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
  }

  .sobre-nos-conteudo h2 {
    font-size: 28px;
  }

  .sobre-nos-conteudo p {
    font-size: 15px;
  }

  .sobre-nos-lista li {
    font-size: 15px;
  }

  .sobre-nos-lista li span {
    font-size: 16px;
  }
}


@media (max-width: 768px) {
  .sobre-nos-imagem-modern img {
    max-width: 300px;

    margin: 0 auto;
  }

  .sobre-nos-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sobre-nos-conteudo {
    padding: 0 10px;
  }

  .sobre-nos-conteudo h2 {
    font-size: 24px;
  }

  .sobre-nos-conteudo p,
  .sobre-nos-lista li {
    font-size: 14px;
  }
}
